# Dependencies
backend/node_modules/
frontend/node_modules/
frontend/vendor/

# Environment files
.env

# Laravel specific
frontend/storage/*.key
frontend/public/hot
frontend/public/storage
frontend/bootstrap/cache/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
frontend/public/build/
